/* 
div {
    background-color: pink;
}

span {
    background-color: pink;
}
*/

/* border-color: [top] [right] [bottom] [left] */
.boxmodel {
    border: 10px solid;
    border-color: red blue green yellow;
    padding: 30px;
    margin: 50px;
}