/* 
div {
    background-color: pink;
}

span {
    background-color: pink;
}
*/

/* border-color: [top] [right] [bottom] [left] */

/* padding: [-top] [-right] [-bottom] [-left] */

/*
.boxmodel {
    border: 10px solid;
    border-color: red blue green yellow;
    padding: 30px;
    margin: auto;
    width: 300px;
}
*/

.parent {
    width: 300px;
    border: 20px solid red;
  }
  .child {
    width: 50%;
    padding: 20px;
    border: 10px solid black;
  }