/*

* {
    color: red;
}

h1#page {
    color: slateblue;
}

*/


/*

h1 {
    color: red;
}

h1 {
    color: blue;
}
*/

/*
p#bright {
    color: slateblue;
}

p {
    color: red;
}

*/


/*

p {
    color: slateblue;
}

p {
    color: red;
}

.wrap {
    color: orange !important;
}

.box {
    color: green !important;
}

*/


/* 0, 0, 1, 0 class 속성이지만 !important */
.box {
    color: red !important;
}

/* 0, 0, 2, 0 class 속성 */
.index>.in_item {
    color: pink;
}

/* 0, 0, 1, 2 class 속성과 div, ul 요소 */
div ul .in_item {
    color: orange;
}

/* 0, 0, 2, 0 class 속성 */
.in_item.in1 {
    color: black;
}

/* 0, 0, 1, 2 class 속성과 p, ul 요소 */
p+ul.index {
    color: yellow;
}