li:first-child {
    color: red;
}

li:last-child {
    color: blue;
}

a:focus {
    background-color: yellow
}

a:hover {
    font-weight: bold
}

a:active {
    color: hotpink;
}

p::before {
    content: "###"
}

p::after {
    content: "!!!"
}

p::first-line {}

p::first-letter {}

h1 {
    color: red;
}

body h1 {
    color: green;
}

