div {
    width: 100px;
    height: 100px;
    color: white;
}

.red,
.blue {
    position: absolute;
}

.green {
    position: relative;
}

.red {
    z-index: 5;
}

.blue {
    z-index: 6;
}

.green {
    z-index: 7;
}

.orange {
    z-index: 8;
}